.book-header{
    position:fixed;
    width: 100%;
    background-color: white;
}
.book-header .btn{
    color: black;
}
.page-wrapper{
    padding-top: 50px;
}
/*.chapter{
border-bottom: 1px solid #FFFEFE;
}
.summary{
	background-color:#E9E7E7;
}
span{
	font-size:24px;
	font-weight:blod;
	left:-15px;
}
#book-search-input{
	margin-bottom:-10px;
}*/



.summary{
    background-color:#E9E7E7;
}
span{
    font-size:22px;
    font-weight:bold;
    left:-15px;
    height: 45px;
    padding-top:2px;
    padding-bottom: 13px;
}
#book-search-input{
    margin-bottom:-10px;
}
/*#boot1 {
    border-bottom: none;
}
#boot2 {
    border-bottom: none;
}*/
.sou{
    height: 40px;

}
.chapter{
    border-bottom: 1px solid #D7D0D0;

}
#in{
    background-image:url("/photos/ie.png");
    background-color: transparent;
    background-repeat: no-repeat;
    float:left;

}
#pic {
    width: 25px;
    height: 26px;
    display: inline-block;
    float: left;
    border-radius: 5px 0px 0px 5px;
}
#click1{
    width: 40px;
    /*float: left;*/
    height: 25.5px;
    margin-left: 0px;
    background: rgb(23,147,214);
    border: none;
    font-size: 14px;
    padding: 1px 2px;
    color: white;
    border-radius: 0px 5px 5px 0px;
}
#click1:hover{
    /*background: rgb(70,98,217);*/
    background: rgb(0,140,255);
}

